{% extends 'login/base_add_del_upd_sel.html' %}

{% block title %}学生{% endblock %}

{% block tableOptions %}
<table id="table" data-toolbar="#toolbar" data-search="true" data-show-refresh="true" data-show-toggle="true"
  data-show-fullscreen="true" data-show-columns="true" data-show-columns-toggle-all="true" data-detail-view="true"
  data-show-export="true" data-click-to-select="true" data-detail-formatter="detailFormatter"
  data-minimum-count-columns="2" data-show-pagination-switch="true" data-pagination="true" data-id-field="id"
  data-page-list="[10, 25, 50, 100, all]" data-show-footer="true" data-side-pagination="server" data-url="./json"
  data-response-handler="responseHandler">
</table>
{% endblock %}

{% block add-modal-body %}
<div>请选择学生:</div>
<div class="form-group">
  <select data-placeholder="选择学生..." class="form-control" name="student_id" id="student_id" required="required">
    {% for student in students %}
    <option value= "{{ student.id }}" hassubinfo="true">{{ student.name }}</option>
    {% endfor %}
  </select>
</div>
{% endblock %}

{% block tableinfo %}
<script>
    function operateFormatter(value, row, index) {
    return [
      '<a class="remove" href="javascript:void(0)" title="Remove">',
      '<i class="far fa-trash-alt"></i>',
      '</a>  ',
    ].join('')
  }
</script>

<script>
  window.operateEvents = {
    'click .remove': function (e, value, row, index) {
      console.log([row.college_name]),
        bootbox.confirm({
          title: "删除信息！",
          size: "small",
          message: "您确定删除选中项吗？",
          buttons: {
            confirm: {
              label: '是',
              className: 'btn-success'
            },
            cancel: {
              label: '否',
              className: 'btn-danger'
            }
          },
          callback: function (result) {
            if (result) {
              $.ajax({
                type: "POST",
                dataType: "json",
                async: false,
                url: "./delete/",
                data: JSON.stringify([row]),
                contentType: 'application/json',
                type: "POST",
                traditional: true,
                headers: { "X-CSRFToken": $('[name="csrfmiddlewaretoken"]').val() },
                success: function (data) {
                  console.log(data);
                  if (data.status == "success") {
                    toastr.success('删除数据成功');
                    $("#table").bootstrapTable('refresh');
                  }
                  if (data.status == "authority_check0") {
                    toastr.warning('权限不足');
                  }
                },
                fail: function (result) {
                }
              });
            }
          }
        });
    },
  }
  function getIdSelections() {
    return $.map($table.bootstrapTable('getSelections'), function (row) {
      return row.id
    })
  }

  function responseHandler(res) {
    $.each(res.rows, function (i, row) {
      row.state = $.inArray(row.id, selections) !== -1
    })
    return res
  }
  function initTable() {
    $table.bootstrapTable('destroy').bootstrapTable({
      height: 600,
      locale: $('#locale').val(),
      columns: [
        { field: 'id', title: 'id', footerFormatter: totalNameFormatter, align: 'center' },
        { field: 'name', title: 'name', footerFormatter: totalNameFormatter, align: 'center' },
        { field: 'sex', title: 'sex', footerFormatter: totalNameFormatter, align: 'center' },
        { field: 'age', title: 'age', footerFormatter: totalNameFormatter, align: 'center' },
        { field: 'email', title: 'email', footerFormatter: totalNameFormatter, align: 'center' },
        { field: 'idc', title: 'idc', footerFormatter: totalNameFormatter, align: 'center' },
        { field: 'operate', title: 'Item Operate', align: 'center', clickToSelect: false, events: window.operateEvents, formatter: operateFormatter }
      ]
    })

    $remove.click(function () {
      var ids = getIdSelections();
      console.log(ids)
      var select_del = $table.bootstrapTable('getSelections')//待完善删除确认弹出框
      bootbox.confirm({
        title: "删除信息！",
        size: "small",
        message: "您确定删除选中项吗？",
        buttons: {
          confirm: {
            label: '是',
            className: 'btn-success'
          },
          cancel: {
            label: '否',
            className: 'btn-danger'
          }
        },
        callback: function (result) {
          if (result) {
            $.ajax({
              url: "./delete/",
              data: JSON.stringify(select_del),
              contentType: 'application/json',
              type: "POST",
              traditional: true,
              headers: { "X-CSRFToken": $('[name="csrfmiddlewaretoken"]').val() },
              success: function (result) {
              },
              fail: function (result) {
              }
            });

            $table.bootstrapTable('remove', {
              field: 'id',
              values: ids
            })
            $remove.prop('disabled', true)
          }
        }
      });
    })
  }
  function add_info() {
    $.ajax({
      cache: false,
      type: "POST",
      dataType: "json",
      url: "./add/",
      data: $('#add-info-form').serialize(), //将模态框的form表单数据序列化，以便提交到后台
      async: false,  //必须要为false,必须必须

      success: function (data) {
        console.log(data);//打印服务端返回的数据(调试用)
        if (data.status == "success") {
          document.getElementById("add-info-form").reset();
          $('#myModal').modal('hide');
          toastr.success('提交数据成功');
          $("#table").bootstrapTable('refresh');
        }
        if (data.status == "authority_check0") {
          toastr.warning('权限不足');
        }
      },
      error: function () {
        toastr.warning("错误");
      }
    });
  }
</script>
{% endblock %}