{% extends 'login/base.html' %}
{% block title %}修改密码{% endblock %}

{% block content %}

<!-- 修改密码表单 -->
<form id="alter-password-form" action="#" method="post" class="form-horizontal" role="form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="alterPasswordModalLabel">修改密码</h4>
            </div>
            <div class="modal-body" style="height: 100%;">
                {% csrf_token %}
                <div class="form-label-group">
                    <input type="password" class="form-control" name="password0" id="password0" placeholder="原密码"
                        required="required"></input>
                    <label for="lastname" class="col-sm-3 control-label">原密码</label>
                </div>
                <div class="form-label-group">
                    <input type="password" class="form-control" name="password1" id="password1" placeholder="新密码"
                        required="required"></input>
                    <label for="lastname" class="col-sm-3 control-label">新密码</label>
                </div>
                <div class="form-label-group">
                    <input type="password" class="form-control" name="password2" id="password2" placeholder="重复新密码"
                        required="required"></input>
                    <label for="lastname" class="col-sm-3 control-label">重复新密码</label>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button> -->
                <input type="button" data-dissmiss="modal" onclick="alterPassword()" class="btn btn-primary" value="修改">
            </div>
        </div>
    </div>
</form>

<script>
    function alterPassword() {
        $.ajax({
            cache: false,
            type: "POST",
            dataType: "json",
            url: "/manage/student/info/alterPassword_/",
            data: $('#alter-password-form').serialize(),
            async: false,

            success: function (data) {
                console.log(data);
                if (data.status == "success") {
                    toastr.success('修改密码成功');
                    window.location = '/manage/student/'
                }
                if (data.status == "0") {
                    toastr.warning('密码不能为空!');
                }
                if (data.status == "0f") {
                    toastr.warning('原密码不正确!');
                }
                if (data.status == "12f") {
                    toastr.warning('两次新密码不相同!');
                }
            },
            error: function () {
                toastr.warning("错误");
            }
        });
    }
</script>

{% endblock %}