{% extends 'login/base_add_del_upd_sel.html' %}

{% block tableOptions %}
<table id="table" data-toolbar="#toolbar" data-search="true" data-show-refresh="true" data-show-toggle="true"
  data-show-fullscreen="true" data-show-columns="true" data-show-columns-toggle-all="true" data-detail-view="true"
  data-show-export="true" data-click-to-select="true" data-detail-formatter="detailFormatter"
  data-minimum-count-columns="2" data-show-pagination-switch="true" data-pagination="true" data-id-field="id"
  data-page-list="[10, 25, 50, 100, all]" data-show-footer="true" data-side-pagination="server" data-url="./json"
  data-response-handler="responseHandler">
</table>
{% endblock %}

{% block add-modal-body %}
<div class="form-label-group">
  <input type="text" class="form-control" name="username" id="username" placeholder="学号" required="required"
    autofocus></input>
  <label for="lastname" class="col-sm-3 control-label">学号</label>
</div>
<div class="form-group">
  <select data-placeholder="选择项目..." class="form-control" name="type" id="type" required="required">
    <option value="奖励" hassubinfo="true">奖励</option>
    <option value="惩罚" hassubinfo="true">惩罚</option>
  </select>
</div>
<div class="form-label-group">
  <input type="text" class="form-control" name="content" id="content" placeholder="奖惩详情" required="required"></input>
  <label for="lastname" class="col-sm-3 control-label">奖惩详情</label>
</div>
<div class="form-label-group">
  <input type="date" class="form-control" name="date" id="date" placeholder="奖惩日期" required="required"></input>
  <label for="lastname" class="col-sm-3 control-label">奖惩日期</label>
</div>


{% endblock %}
{% block upd-modal-body %}
<div class="form-label-group">
  <input type="text" class="form-control" name="update_id" id="update_id" placeholder="ID" required="required"
    readonly></input>
  <label for="lastname" class="col-sm-3 control-label">ID</label>
</div>
<div class="form-label-group">
  <input type="text" class="form-control" name="update_username" id="update_username" placeholder="学号"
    required="required" autofocus></input>
  <label for="lastname" class="col-sm-3 control-label">学号</label>
</div>
<div class="form-group">
  <select data-placeholder="选择项目..." class="form-control" name="update_type" id="update_type" required="required">
    <option value="奖励" hassubinfo="true">奖励</option>
    <option value="惩罚" hassubinfo="true">惩罚</option>
  </select>
</div>
<div class="form-label-group">
  <input type="text" class="form-control" name="update_content" id="update_content" placeholder="奖惩详情"
    required="required"></input>
  <label for="lastname" class="col-sm-3 control-label">奖惩详情</label>
</div>
<div class="form-label-group">
  <input type="date" class="form-control" name="update_date" id="update_date" placeholder="奖惩日期"
    required="required"></input>
  <label for="lastname" class="col-sm-3 control-label">奖惩日期</label>
</div>

{% endblock %}
{% block tableinfo %}
<script>
  window.operateEvents = {
    'click .remove': function (e, valueid, row, index) {
      console.log([row.id]),
        bootbox.confirm({
          title: "删除信息！",
          size: "small",
          message: "您确定删除" + row.id + "的奖惩信息吗？",
          buttons: {
            confirm: {
              label: '是',
              className: 'btn-success'
            },
            cancel: {
              label: '否',
              className: 'btn-danger'
            }
          },
          callback: function (result) {
            if (result) {
              $.ajax({
                type: "POST",
                dataType: "json",
                async: false,
                url: "./delete/",
                data: JSON.stringify([row]),
                contentType: 'application/json',
                type: "POST",
                traditional: true,
                headers: { "X-CSRFToken": $('[name="csrfmiddlewaretoken"]').val() },
                success: function (data) {
                  console.log(data);
                  if (data.status == "success") {
                    toastr.success('删除数据成功');
                    $("#table").bootstrapTable('refresh');
                  }
                  if (data.status == "authority_check0") {
                    toastr.warning('权限不足');
                  }
                },
                fail: function (result) {
                }
              });

              $table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
              })
            }
          }
        });
    },
    'click .update': function (e, value, row, index) {

      console.log(row);

      $("#update_id").val(row.id);
      $("#update_username").val(row.stu_id__user_id__account);
      $("#update_type").val(row.award_type);
      $("#update_content").val(row.award_content);
      $("#update_date").val(row.award_date);

      //弹出修改模态框，非新增模态框
      $('#updateModal').modal('show')

    }
  }
  function getIdSelections() {
    return $.map($table.bootstrapTable('getSelections'), function (row) {
      return row.id
    })
  }

  function responseHandler(res) {
    $.each(res.rows, function (i, row) {
      row.state = $.inArray(row.id, selections) !== -1
    })
    return res
  }
  function initTable() {
    $table.bootstrapTable('destroy').bootstrapTable({
      height: 600,
      locale: $('#locale').val(),
      columns: [
        [
          { field: 'state', checkbox: true, rowspan: 2, align: 'center', valign: 'middle' },
          { title: 'Award_ID', field: 'id', rowspan: 2, align: 'center', valign: 'middle', sortable: true, footerFormatter: totalTextFormatter },
          { title: 'Item Detail', colspan: 6, align: 'center' }
        ],
        [
          { field: 'stu_id__user_id__account', title: 'Stu_ID', footerFormatter: totalNameFormatter, align: 'center' },
          { field: 'stu_id__name', title: 'Name', footerFormatter: totalNameFormatter, align: 'center' },
          { field: 'award_type', title: 'Type', sortable: true, align: 'center' },
          { field: 'award_content', title: 'Content', align: 'center' },
          { field: 'award_date', title: 'Date', sortable: true, align: 'center' },

          { field: 'operate', title: 'Item Operate', align: 'center', clickToSelect: false, events: window.operateEvents, formatter: operateFormatter }
        ]
      ]
    })
    $remove.click(function () {
      var ids = getIdSelections();
      console.log(ids)
      var select_del = $table.bootstrapTable('getSelections')//待完善删除确认弹出框
      bootbox.confirm({
        title: "删除信息！",
        size: "small",
        message: "您确定删除选中id的奖惩信息吗？",
        buttons: {
          confirm: {
            label: '是',
            className: 'btn-success'
          },
          cancel: {
            label: '否',
            className: 'btn-danger'
          }
        },
        callback: function (result) {
          if (result) {
            $.ajax({
              url: "./delete/",
              data: JSON.stringify(select_del),
              contentType: 'application/json',
              type: "POST",
              traditional: true,
              headers: { "X-CSRFToken": $('[name="csrfmiddlewaretoken"]').val() },
              success: function (result) {
              },
              fail: function (result) {
              }
            });

            $table.bootstrapTable('remove', {
              field: 'id',
              values: ids
            })
            $remove.prop('disabled', true)
          }
        }
      });
    })
  }
  function add_info() {
    $.ajax({
      cache: false,
      type: "POST",
      dataType: "json",
      url: "./add/",
      data: $('#add-info-form').serialize(), //将模态框的form表单数据序列化，以便提交到后台
      async: false,  //必须要为false,必须必须

      success: function (data) {
        console.log(data);//打印服务端返回的数据(调试用)
        if (data.status == "success") {
          document.getElementById("add-info-form").reset();
          $('#myModal').modal('hide');
          toastr.success('提交数据成功');
          $("#table").bootstrapTable('refresh');
        }
        if (data.status == "stuid0") {
          toastr.warning('请输入学号');
        }
        if (data.status == "content0") {
          toastr.warning('请输入邮箱');
        }
        if (data.status == "date0") {
          toastr.warning('请输入奖惩日期');
        }
      },
      error: function () {
        toastr.warning("请输入所有数据");
      }
    });
  }
  function update_info() {
    $.ajax({
      cache: false,
      type: "POST",
      dataType: "json",
      url: "./update/",
      data: $('#update-info-form').serialize(), //将模态框的form表单数据序列化，以便提交到后台
      async: false,  //必须要为false,必须必须

      success: function (data) {
        console.log(data);//打印服务端返回的数据(调试用)
        if (data.status == "success") {
          document.getElementById("update-info-form").reset();
          $('#updateModal').modal('hide');
          toastr.success('提交数据成功');
          $("#table").bootstrapTable('refresh');
        }
        if (data.status == "content0") {
          toastr.warning('请输入邮箱');
        }
        if (data.status == "date0") {
          toastr.warning('请输入奖惩日期');
        }
      },
      error: function () {
        toastr.warning("请输入所有数据");
      }
    });
  }
</script>
{% endblock %}