
{% extends 'login/base.html' %}
{% block title %}TABLE{% endblock %}
{% block content %}

<style>
  .update {
    margin-right: 10px;
  }
</style>

<div id="toolbar">
  <button id="remove" class="btn btn-danger" disabled>
    <i class="glyphicon glyphicon-remove"></i> Delete
  </button>
  <button id="add" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    <i class="glyphicon glyphicon-plus"></i> Add
  </button>
  

  <!--新增-->
  <form id="add-info-form" action="#" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">新增记录</h4>
          </div>
          <div class="modal-body" style="height: 100%;">

            <div class="form-label-group">
              <input type="text" class="form-control" name="username" id="username" placeholder="请输入学号" required autofocus></input>
              <label for="lastname" class="col-sm-3 control-label">学号</label>
            </div>
            <div class="form-label-group">
              <input type="text" class="form-control" name="email" id="email" placeholder="请输入邮箱" required></input>
              <label for="lastname" class="col-sm-3 control-label">邮箱</label>
            </div>
            <div class="form-label-group">
              <input type="text" class="form-control" name="name" id="name" placeholder="请输入姓名" required></input>
              <label for="lastname" class="col-sm-3 control-label">姓名</label>
            </div>
            <div class="form-group">
              <select data-placeholder="选择项目..." class="form-control" name="sex" id="sex" required>
                <option value="male" hassubinfo="true">男</option>
                <option value="female" hassubinfo="true">女</option>
              </select>
            </div>
            <div class="form-label-group">
              <input type="text" class="form-control" name="idc" id="idc" placeholder="请输入身份证号" required></input>
              <label for="lastname" class="col-sm-3 control-label">身份证号</label>
            </div>
            <div class="form-label-group">
              <input type="text" class="form-control" name="age" id="age" placeholder="请输入年龄" required></input>
              <label for="lastname" class="col-sm-3 control-label">年龄</label>
            </div>
            <div class="form-group">
              <select data-placeholder="选择项目..." class="form-control" name="major" id="major" required>
                <option value="080901" hassubinfo="true">计算机科学与技术</option>
                <option value="080902" hassubinfo="true">软件工程</option>
                <option value="080903" hassubinfo="true">网络工程</option>
                <option value="080904K" hassubinfo="true">信息安全</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <input type="button" data-dissmiss="modal" onclick="add_info()" class="btn btn-primary"value="提交">
          </div>
        </div>
      </div>
    </div>
  </form>


  <!--修改-->
  <form id="update-info-form" action="#" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="updateModalLabel">修改记录</h4>
          </div>
          <div class="modal-body" style="height: 100%;">
            <div class="form-label-group">
              <input type="text" class="form-control" name="update_username" id="update_username" placeholder="请输入学号" required autofocus></input>
              <label for="lastname" class="col-sm-3 control-label">学号</label>
            </div>
            <div class="form-label-group">
              <input type="text" class="form-control" name="update_email" id="update_email" placeholder="请输入邮箱" required></input>
              <label for="lastname" class="col-sm-3 control-label">邮箱</label>
            </div>
            <div class="form-label-group">
              <input type="text" class="form-control" name="update_name" id="update_name" placeholder="请输入姓名" required></input>
              <label for="lastname" class="col-sm-3 control-label">姓名</label>
            </div>
            <div class="form-group">
              <select data-placeholder="选择项目..." class="form-control" name="update_sex" id="update_sex" required>
                <option value="male" hassubinfo="true">男</option>
                <option value="female" hassubinfo="true">女</option>
              </select>
            </div>
            <div class="form-label-group">
              <input type="text" class="form-control" name="update_idc" id="update_idc" placeholder="请输入身份证号" required></input>
              <label for="lastname" class="col-sm-3 control-label">身份证号</label>
            </div>
            <div class="form-label-group">
              <input type="text" class="form-control" name="update_age" id="update_age" placeholder="请输入年龄" required></input>
              <label for="lastname" class="col-sm-3 control-label">年龄</label>
            </div>
            <div class="form-group">
              <select data-placeholder="选择项目..." class="form-control" name="update_major" id="update_major" required>
                <option value="080901" hassubinfo="true">计算机科学与技术</option>
                <option value="080902" hassubinfo="true">软件工程</option>
                <option value="080903" hassubinfo="true">网络工程</option>
                <option value="080904K" hassubinfo="true">信息安全</option>
              </select>
            </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <input type="button" data-dissmiss="modal" onclick="update_info()" class="btn btn-primary"value="提交">
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
<table
  id="table"
  data-toolbar="#toolbar"
  data-search="true"
  data-show-refresh="true"
  data-show-toggle="true"
  data-show-fullscreen="true"
  data-show-columns="true"
  data-show-columns-toggle-all="true"
  data-detail-view="true"
  data-show-export="true"
  data-click-to-select="true"
  data-detail-formatter="detailFormatter"
  data-minimum-count-columns="2"
  data-pagination="true"
  data-id-field="id"
  data-page-list="[5, 25, 50, 100, all]"
  data-show-footer="true"
  data-side-pagination="server"
  data-url="../json"
  data-response-handler="responseHandler">
</table>
<script>
  var $table = $('#table')
  var $remove = $('#remove')
  var $add = $('#add')
  var selections = []

  function getIdSelections() {
    return $.map($table.bootstrapTable('getSelections'), function (row) {
      return row.id
    })
  }

  function responseHandler(res) {
    $.each(res.rows, function (i, row) {
      row.state = $.inArray(row.id, selections) !== -1
    })
    return res
  }

  function detailFormatter(index, row) {
    var html = []
    $.each(row, function (key, value) {
      html.push('<p><b>' + key + ':</b> ' + value + '</p>')
    })
    return html.join('')
  }

  function operateFormatter(value, row, index) {
    return [
      '<a class="remove" href="javascript:void(0)" title="Remove">',
      '<i class="far fa-trash-alt"></i>',
      '</a>  ',
      '<a class="update" href="javascript:void(0)" title="Edit">',
      '<i class="far fa-edit"></i>',
      '</a>  ',
    ].join('')
  }

  window.operateEvents = {
    'click .remove': function (e, value, row, index) {

      $.ajax({
        url: "../delete/",
        data: JSON.stringify([row]),
        contentType: 'application/json',
        type: "POST",
        traditional: true,
        success: function(result) { 
        },
        fail: function(result) {
        }
      });
      $table.bootstrapTable('remove', {
        field: 'id',
        values: [row.id]
      })
    },
    'click .update': function (e, value, row, index) {

      console.log(row);
      $("#update_username").val(row.stu_id_id);
      $("#update_email").val(row.email);
      $("#update_name").val(row.name);
      $("#update_sex").val(row.sex);
      $("#update_idc").val(row.idc);
      $("#update_age").val(row.age);
      $("#update_major").val(row.major);

      //弹出修改模态框，非新增模态框
      $('#updateModal').modal('show')
      
    }
  }

  function totalTextFormatter(data) {
    return 'Total'
  }

  function totalNameFormatter(data) {
    return data.length
  }

  function initTable() {
    $table.bootstrapTable('destroy').bootstrapTable({
      height: 600,
      locale: $('#locale').val(),
      columns: [
        [
          {field: 'state',checkbox: true,rowspan: 2,align: 'center',valign: 'middle'},
          {title: 'Stu_ID',field: 'stu_id_id',rowspan: 2,align: 'center',valign: 'middle',sortable: true,footerFormatter: totalTextFormatter},
          {title: 'Item Detail',colspan: 7,align: 'center'}
        ],
        [
          {field: 'name',title: 'Name',footerFormatter: totalNameFormatter,align: 'center'},
          {field: 'major',title: 'Major',sortable: true,align: 'center'},
          {field: 'sex',title: 'Sex',align: 'center'},
          {field: 'age',title: 'Age',sortable: true,align: 'center'},
          {field: 'email',title: 'Email',align: 'center'},
          {field: 'idc',title: 'IDCard',align: 'center'},
          {field: 'operate',title: 'Item Operate',align: 'center',clickToSelect: false,events: window.operateEvents,formatter: operateFormatter}
        ]
      ]
    })
    $table.on('check.bs.table uncheck.bs.table ' +'check-all.bs.table uncheck-all.bs.table',
    function () {
      $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)

      // save your data, here just save the current page
      selections = getIdSelections()
      // push or splice the selections if you want to save all data selections
    })
    $table.on('all.bs.table', function (e, name, args) {
      console.log(name, args)
    })
    $remove.click(function () {
      var ids = getIdSelections();
      var select_del = $table.bootstrapTable('getSelections')
      $.ajax({
        url: "../delete/",
        data: JSON.stringify(select_del),
        contentType: 'application/json',
        type: "POST",
        traditional: true,
        success: function(result) { 
        },
        fail: function(result) {
        }
      });
      $table.bootstrapTable('remove', {
        field: 'id',
        values: ids
      })
      $remove.prop('disabled', true)
    })
    $add.click(function () {
      $('#identifier').modal(options)
    })
  }

  $(function() {
    initTable()

    $('#locale').change(initTable)
  })
</script>

<script type="text/javascript">
    toastr.options = {
        closeButton: true,
        debug: true,
        progressBar: true,
        positionClass: "toast-top-center",
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "2000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };
  function add_info() {
    $.ajax({
      cache:false,
      type: "POST",
      dataType: "json",
      url: "../add/" ,
      data: $('#add-info-form').serialize(), //将模态框的form表单数据序列化，以便提交到后台
      async:false,  //必须要为false,必须必须

      success: function (data) {
        console.log(data);//打印服务端返回的数据(调试用)
        if(data.status == "success"){
          document.getElementById("add-info-form").reset();
          $('#myModal').modal('hide');
          toastr.success('提交数据成功');
          $("#table").bootstrapTable('refresh');
        }
        if(data.status == "stuidname"){
          
          toastr.success('学号重复');
        }
        if(data.status == "emailaddr"){
          
          toastr.success('邮箱重复');
        }
      },
      error : function() {
        toastr.warning("请输入所有数据");
      }
    });
  }
  function update_info() {
    $.ajax({
      cache:false,
      type: "POST",
      dataType: "json",
      url: "../update/" ,
      data: $('#update-info-form').serialize(), //将模态框的form表单数据序列化，以便提交到后台
      async:false,  //必须要为false,必须必须

      success: function (data) {
        console.log(data);//打印服务端返回的数据(调试用)
        if(data.status == "success"){
          document.getElementById("update-info-form").reset();
          $('#updateModal').modal('hide');
          toastr.success('提交数据成功');
          $("#table").bootstrapTable('refresh');
        }
      },
      error : function() {
        toastr.warning("请输入所有数据");
      }
    });
  }
  </script>

{% endblock %}
