{% extends 'login/base.html' %}
{% block title %}主页{% endblock %}

{% block content %}
<style type="text/css">
    .div1 {

        width: 300px;
        margin: auto;
    }
</style>

<div class='div1'>
    <br>
    <h2 class="sub-header">{{ account }} {{ stu_info.name }}</h2>
    <div>{{ message }}</div>
    <br>
    <br>
    <div>账号: {{ account }}</div><br>
    <div>姓名: {{ stu_info.name }}</div><br>
    <div>性别: {{ stu_info.sex }}</div><br>
    <div>年龄: {{ stu_info.age }}</div><br>
    <div>邮箱: {{ stu_info.email }}</div><br>
    <div>身份证号: {{ stu_info.idc }}</div><br>
    <div>班级: {{ unify_class.class_name }}</div><br>
    <div>专业: {{ major.major_name }}</div><br>
    <div>学院: {{ college.college_name }}</div><br>

</div>
{% endblock %}