{% extends 'login/base.html' %}

{% block content %}
{% csrf_token %}
<input type="button" onclick="generatedata_add_one()" value="添加一条信息记录">
<input type="button" onclick="generatedata_add_ten()" value="添加十条信息记录">
<input type="button" onclick="award_add_one()" value="添加一条获奖记录">
<input type="button" onclick="award_add_one()" value="添加十条获奖记录">

<script type="text/javascript">
    data = { 'dta': 1 }
    urls = "./generatedata/"
    function generatedata_add_one() {
        data = { 'dta': 1 }
        urls = "./generatedata/"
        add()
    }
    function generatedata_add_ten() {
        data = { 'dta': 10 }
        urls = "./generatedata/"
        add()
    }
    function award_add_one() {
        data = { 'dta': 1 }
        urls = "./award/"
        add()
    }
    function award_add_ten() {
        data = { 'dta': 10 }
        urls = "./award/"
        add()
    }
    function add() {
        $.ajax({
            cache: false,
            type: "POST",
            dataType: "json",
            url: urls,
            data: data,
            headers: { "X-CSRFToken": $('[name="csrfmiddlewaretoken"]').val() },
            async: false,

            success: function (data) {
                console.log(data);//打印服务端返回的数据(调试用)
                if (data.status == "success") {
                    toastr.success('生成数据成功');
                }
                if (data.status == "fail") {
                    toastr.warning('生成数据失败');
                }
            },
            error: function () {
                toastr.warning("Error");
            }
        });
    }
</script>
{% endblock %}